.mentorUser{
    header{
        background-image: url("/public/backgrounds/bg.png");
        background-position: 600px center;
        background-repeat: no-repeat;
        background-size: contain;

    }
}